body {
    background-color: var(--bgcolor);
    margin: 0;
    color: var(--color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}
.fas, .fab {
    margin-right: 4px;
}
.fas.right, .fab.right {
    margin: 0 0 0 4px;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #fff;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-icon {
    background: #6669;
    color: #eee;
    width: 28px;
    height: 28px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn-icon:hover {
    background: #666C;
    color: #fff;
}
.btn-icon .fas, .btn-icon .fab {
    margin: 0;
}
a, a:visited {
    cursor: pointer;
    text-decoration: none;
    color: var(--link);
}
a:hover {
    color: var(--link-hover);
}
.disabled {
    pointer-events: none;
    color: #999 !important;
}
.btn-bar {
    display: block;
    background-color: var(--btn-bgcolor);
    border: 1px solid var(--btn-border-color);
    border-radius: 3px;
    text-align: center;
    padding: 8px 16px;
    color: var(--btn-text-color);
    flex: 1;
    margin-right: 6px;
    font-size: 14px;
}
.btn-bar:visited {
    color: var(--btn-text-color);
}
.btn-bar:last-child {
    margin-right: 0;
}
.btn-bar:hover {
    background-color: var(--btn-hover-bgcolor);
    text-decoration: none;
    border-color: var(--btn-hover-border-color);
    color: var(--btn-text-color);
}

.loading-anim {
    display: none;
    text-align: center;
}

.content .markdown-body {
    color: var(--content-color);
}
.content .markdown-body h1 {
    font-size: 1.5em;
    border-bottom-color: var(--border-color);
}
.content .markdown-body h2 {
    font-size: 1.33em;
    border-bottom-color: var(--border-color);
}

.main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: inherit;
}
.title-div {
    flex: 1 0 100%;
}
.title-div .title {
    margin: 20px;
    padding: 8px 10px 8px 20px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #654;
    background-color: #977;
    display: flex;
    align-items: center;
}
.title-div .title .label {
    color: lightgoldenrodyellow;
    font-size: larger;
    font-weight: bold;
    flex: 1;
}
.game-div {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
}
.game-container {
    display: flex;
    margin: 0 auto;
    position: relative;
    background-color: black;
    box-sizing: border-box;
}
.game-frame {
    border: none;
}

@supports (-webkit-overflow-scrolling: touch) {
    .game-container {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
}
.invis-iframe {
    visibility: hidden;
    position: absolute;
    top: 0
}

.game-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
}
.game-preview {
    width: 100%;
    height: 100%;
    opacity: 0.35;
    background-size: cover;
    background-position: center; 
}
.game-cover .readme {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0 15px;
    color: white;
    text-shadow: 0 1px 3px black;
    box-sizing: border-box;
    font-size: smaller;
}
.game-cover .readme a {
    color: skyblue;
}
.game-cover .game-start-controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.game-btn-play,
.game-btn-trailer {
    color: #fff;
    line-height: 1em;
    background-image: linear-gradient(#6ad, #236aa7);
    border-radius: 5px;
    padding: 14px 28px;
    border: 1px solid #2e6da4;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    cursor: pointer;
    text-shadow: 0 1px 5px rgba(0,0,0,0.5);
}
.game-btn-trailer {
    padding: 12px 14px;
    margin-right: 8px;
}
.game-btn-trailer .fas {
    font-size: 24px;
    margin: 0;
}
.game-btn-play:focus,
.game-btn-trailer:focus {
    outline: 0;
}
.game-btn-play:hover,
.game-btn-trailer:hover {
    background-image: linear-gradient(#7bd, #37a);
}
.game-btn-play:active,
.game-btn-trailer:active {
    background-image: linear-gradient(#37a, #4f7faf);
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.game-btn-play .label {
    margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1em;
    padding: 1px 0;
}
.game-btn-play .onlineppl {
    display: none;
    color: cyan;
    box-shadow: 2px 2px 8px inset rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 2px 8px inset rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 8px inset rgba(0,0,0,0.5);
    border-radius: 4px;
    padding: 3px 6px 2px;
    margin: 0 -10px 0 10px;
    align-items: center;
    overflow: hidden;
    max-width: 0;
    transition: max-width 1s linear;
}
.game-btn-play .onlineppl .fas {
    border-bottom: 2px solid cyan;
    padding: 0 2px 2px 3px;
    transform: scaleY(0.8);
}

.info-div {
    max-width: 1200px;
    width: 90%;
    margin: 10px auto 0;
    padding-top: 20px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    background-color: inherit;
}
.column {
    flex: 1 0 50%;
    padding: 0 10px;
    background-color: inherit;
    box-sizing: border-box;
    min-width: 342px;
}

.column:last-child {
    margin-right: 0;
}
.column.project-info {
    flex-basis: 65%;
}
.markdown-body {
    word-break: break-word;
}
.box {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-bottom: 15px;
    min-width: 100px;
    background-color: inherit;
}
.box .title {
    display: inline-block;
    font-size: 14px;
    color: var(--color-dim2);
    background-color: inherit;
    padding: 0 5px;
    transform: scale(0.8) translate(8px, -15px);
}
.box .content {
    margin: -8px 15px 10px;
    font-size: smaller;
    position: relative;
}
.app-info .content {
    display: flex;
    align-items: center;
}
.owner .content a {
    display: inline-flex;
    align-items: center;
}
.description .content {
    margin: -10px 15px 10px;
}
.description .content .build-version-root {
    float: right;
    height: 0;
}
.build-version, .scores-title, .timeRange-title {
    font-variant: small-caps;
    color: var(--color-dim);
    cursor: pointer;
    border-radius: 3px;
    padding: 3px 0;
}
.build-version.btn-description {
    display: none;
}

.build-version .fas {
    margin-right: unset;
    margin-left: 5px;
}
.scores-title, .timeRange-title {
    text-transform: uppercase;
}
a.build-version, a.btn-score-mode, a.btn-timeRange {
    padding: 4px 6px;
    color: var(--btn-text-color);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a.build-version:hover, a.btn-score-mode:hover, a.btn-timeRange:hover {
    background-color: var(--dropdown-btn-hover-bgcolor);
    text-decoration: none;
}

a.btn-score-mode .fas, a.btn-timeRange .fas {
    margin-left: 5px;
}
.version-switcher, .scores-switcher, .timeRange-switcher {
    position: absolute;
    top: 20px;
    z-index: 100;
    display: none;
    flex-direction: column;
    font-size: larger;
    background-color: var(--dropdown-bgcolor);
    border: 1px solid var(--dropdown-border-color);
    padding: 6px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.version-switcher, .timeRange-switcher {
    right: -5px;
}
.scores-switcher {
    left: -5px;
}

.version-switcher.show, .scores-switcher.show, .timeRange-switcher.show {
    display: flex;
}

.owner img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.metrics-item {
    margin-right: 15px;
}
.metrics-item:last-child {
    margin-right: 0;
}
.description .project-actions {
    margin-top: 20px;
    width: 100%;
    display: none;
}
.project-description.changelog {
    display: none;
}
.project-description {
    overflow: hidden;
    padding-top: 5px;
}
.description.fullheight .project-description {
    max-height: unset!important;
}
.description.fullheight .project-actions {
    display: flex;
}
.description .btn-description-expand {
    width: 100%;
    border: none;
    outline: none;
    background: linear-gradient(rgba(255,255,255,0), white, white);
    padding-top: 20px;
    margin-top: -20px;
    cursor: pointer;
}
.description .btn-description-expand i {
    opacity: 0.5;
    transform: scale(2, 1);
}
.description .btn-description-expand:hover i {
    opacity: 1;
}
.description.fullheight .btn-description-expand {
    display: none;
}

.forum .loading-anim {
    margin: 20px;
}
.forum .article {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px dotted var(--border-color);
    margin: 2px 0 10px;
    padding-bottom: 2px;
}
.forum .article-row {
    display: flex;
    align-items: center;
}
.forum .user-icon {
    margin-right: 10px;
}
.forum .user-icon img {
    width: 34px;
    height: 34px;
    border-radius: 3px;
}
.forum .article-body {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.forum .article-title {
    font-size: 15px;
    flex: 1;
    margin-bottom: 2px;
}
.forum .article-reply {
    flex: 1;
    color: #666;
}
.forum .article-reply-count {
    margin-left: 3px;
}
.forum .article-time {
    color: #999;
}

a.poweredby {
    display: flex;
    align-items: center;
    place-content: center;
    margin-top: 15px;
    padding: 10px 0;
    background-color: var(--poweredby-bgcolor);
    color: var(--poweredby-color);
}
a.poweredby:hover {
    color: var(--poweredby-hover-color);
    text-decoration: none;
}
.poweredby img {
    width: 24px;
    height: 24px;
    margin: 0 8px;
}
.spacer {
    flex-grow: 1;
}
.btn-div {
    border-radius: 3px;
    background-color: rgba(0,0,0,0.25);
    color: rgba(228, 228, 228, 0.66);
    cursor: pointer;
}
.btn-div:hover {
    border-radius: 3px;
    background-color: rgba(0, 110, 255, 0.66);
    color: #eee;
}
.btn-div .fas {
    margin: 3px 4px;
}
.btn-scrollto-group {
    flex: 1;
}
.game-bottom-bar {
    display: flex;
    background-color: #333;
    font-size: 19px;
    height: 26px;
}
.game-buttons-group {
    position: relative;
}
.game-buttons-group.spacer {
    display: none;
}
body.game-fullscreen .game-container {
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: calc(100% - 26px) !important;
    z-index: 10000;
}
body.game-fullscreen .game-frame {
    width: 100% !important;
    height: 100% !important;
}
body.game-fullscreen .game-bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.btn-game-compress, .btn-scrollto-game {
    display: none;
}
.btn-scrollto-group {
    text-align: center;
    min-width: 48px;
}
.btn-scrollto-group .fas {
    transform: scaleX(2);
}
body.game-fullscreen {
    overflow: hidden;
}
body.game-fullscreen .btn-game-expand {
    display: none !important;
}
body.game-fullscreen .btn-game-compress {
    display: block;
}
body.game-fullscreen .game-buttons-group.spacer {
    display: block;
}
body.game-fullscreen .btn-scrollto-group {
    flex: 0;
}

.column.interactive {
    flex-basis: 35%;
}
.box.feedback .content {
    display: flex;
    flex-wrap: wrap;
}
.box.feedback .content .fb-comments {
    flex: 1 0 100%;
}
.box.feedback .content .twitter-share-button {
    margin-left: 4px;
}

.box.badges, .box.scores {
    display: none;
}
.game-div-topbar {
    position: absolute;
    right: 15px;
    top: 15px;
    display: flex;
    align-items: center;
    place-content: flex-end;
    width: 90%;
}
.game-div .locale-selector {
    display: flex;
    margin-left: 10px;
    color: #333;
}
.locale-selector .locale-current {
    cursor: pointer;
    padding: 0;
    min-width: 32px;
    line-height: 32px;
    border: 2px solid #fff;
    font-size: 15px;
    background: #eee9;
    box-shadow: 0 2px 5px black;
    border-radius: 3px;
    text-align: center;
    user-select: none;
}
.locale-selector .locale-current:hover {
    background: #eee;
}
.locale-selector .locale-list {
    position: absolute;
    display: none;
    flex-direction: column;
    right: 5px;
    top: 36px;
    padding: 10px 0;
    border-radius: 5px;
    background: #dddc;
}
.locale-selector .locale-list div {
    cursor: pointer;
    height: 30px;
    padding: 0 20px;
    font-size: 16px;
    color: #000;
    display: flex;
    align-items: center;
    place-content: center;
}
.locale-selector .locale-list div:hover {
    background: #fffc;
}

.game-div .login-user {
    display: none;
    margin-left: 10px;
}
.login-user img {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    border: 2px solid white;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 2px 5px black;
}
.login-user .user-detail {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: rgba(32,32,32,0.9);
    border-radius: 4px;
    padding: 6px 10px 10px;
    font-size: smaller;
}
.login-user .user-detail .login-actions {
    display: flex;
    align-items: center;
}
.login-user .user-detail .btn {
    background: rgba(255,255,255,0.8);
    border-radius: 3px;
    border: 1px solid #999;
    font-variant: small-caps;
    padding: 5px 8px;
    margin-top: 5px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    line-height: 1em;
    color: #111;
    font-size: 14px;
    margin-right: 3px;
}
.login-user .user-detail .btn:hover {
    background: white;
}
.login-user .user-detail .btn:last-child {
    margin-right: 0;
}
.login-user .user-detail .btn-gm {
    display: none;
}
.login-user.gm .user-detail .btn-gm {
    display: block;
}
.login-user .user-detail .nickname, .login-user .user-detail .username {
    display: flex;
    align-items: center;
    padding: 3px 0;
}
.login-user .user-detail .label {
    color: #888;
    margin-right: 5px;
    font-variant: small-caps;
    flex: 1;
    line-height: 1em;
}
.login-user .user-detail .value {
    color: #eee;
    text-align: right;
    max-width: 240px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.login-user .user-detail .username .value {
    font-size: smaller;
}

.game-div-reviewbox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #999;
    border-radius: 5px;
    background: #000C;
    color: #eee;
    padding: 5px 10px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: opacity 0.5s ease, bottom 0.5s ease;
    pointer-events: none;
}
.game-div-reviewbox.show {
    opacity: 1;
    bottom: 60px;
    pointer-events: all;
}
.game-div-reviewbox > * {
    margin: 5px;
}
.game-div-reviewbox .btn {
    color: #eee;
    background: #28a745;
    flex: 1;
}
.game-div-reviewbox .btn:hover {
    background: #4b6;
}

.box .login-user img {
    width: 24px;
    height: 24px;
    box-shadow: none;
    cursor: initial;
    border-width: 1px;
    border-radius: 2px;
    margin: 0 3px;
}

.box.badges .content .title {
    transform: none;
    justify-content: center;
    margin: 6px;
    align-items: center;
}
.box.badges .content .title.own {
    color: mediumseagreen;
}

.box.badges .content .list {
    display: flex;
    flex-wrap: wrap;
}
.box.badges .badge {
    margin: 5px 5px 0;
}
.box.badges .badge img {
    max-width: 48px;
    max-height: 48px;
}
.box.badges .miss .badge img {
    opacity: 0.3;
}

.box.scores .scores-titles-root {
    display: flex;
}
.box.scores .list {
    margin: 10px 0;
}
.box.scores .user-score {
    display: flex;
    align-items: center;
    margin: 5px;
    line-height: 1.2em;
}
.box.scores .user-score .rank {
    min-width: 20px;
    margin-right: 8px;
}
.box.scores .user-score img {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    margin-right: 5px;
}
.box.scores .user-score .nickname {
    flex: 1;
    overflow: hidden;
    line-height: 1.2em;
    height: 1.2em;
}
.box.scores .user-score .score {
    margin-left: 8px;
}

.box.reviews .content {
    display: flex;
    flex-direction: column;
}
.box.reviews .stars {
    margin: 2px 0 5px;
    display: flex;
    align-items: center;
    font-size: 15px;
}
.box.reviews .stars i {
    margin-right: 2px;
}
.box.reviews .stars i.fas {
    color: #e90;
}
.box.reviews .stars i.far {
    color: #999;
}
.box.reviews .stars .votes {
    color: #999;
    margin-left: 4px;
    font-size: 13px;
}
.box.reviews .review-item {
    margin-top: 5px;
    border-top: 1px dotted var(--border-color);
    padding-top: 8px;
}
.box.reviews .review-title {
    font-style: italic;
    font-size: 15px;
}
.box.reviews .review-title i {
    font-size: 18px;
}
.box.reviews .review-title i:first-child {
    margin-right: 2px;
}
.box.reviews .review-title i:last-child {
    margin-left: 2px;
}
.box.reviews .review-user {
    text-align: right;
    font-size: 13px;
}
.box.reviews .review-user img {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    margin-right: 5px;
}

.trailer-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000a;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}
.trailer-panel {
    padding: 20px;
    background-color: #eee;
    border-radius: 10px;
    position: relative;
}
.trailer-panel iframe {
    width: 144vh;
    height: 81vh;
    max-width: 90vw;
}
.btn-close-dialog {
    position: absolute;
    right: -6px;
    top: -6px;
    background-color: #eee;
    border-radius: 50%;
    padding: 5px 9px;
    cursor: pointer;
}
.btn-close-dialog .fas {
    margin: 0;
    color: #666;
}
.btn-close-dialog:hover .fas {
    transform: scale(1.2);
    color: #333;
}